<ul>
	<li ng-repeat='node in treeModel'>
		<i class="collapsed" ng-show="node.nodeChildren.length && node.collapsed" ng-click="selectNodeHead(node)"></i>
		<i class="expanded" ng-show="node.nodeChildren.length && !node.collapsed" ng-click="selectNodeHead(node)"></i>
		<i class="normal" ng-hide="node.nodeChildren.length"></i>
		<span ng-class="node.selected" ng-click="selectNodeLabel(node)">{{node.nodeLabel}}</span>
		<div ng-hide="node.collapsed" data-tree-id="treeId" data-tree-model="node.nodeChildred"
			data-node-id="nodeId" data-node-label="nodeLabel" data-node-children="nodeChildren"></div>
	</li>
</ul>