
<div class="row textContainer padding10 pSuojin" ng-controller="filterCtrl">
    <div class="col-xs-12 marginTop10" >
        <h3 style="color: blue">前端知识背景</h3>
        <p>
            在开始galaxy项目之前，作者的前端知识如html,css,js基本为仅仅了解的状态。angularjs呢，只是听说过，没碰过！
        </p>
    </div>
    <div class="col-xs-12 hr hr-double hr-dotted hr18"></div>
    <div class="col-xs-12 marginTop10" >
        <h3 style="color: blue">现在</h3>
        <p>
            虽然对html,css,js算不上精通，但是使用基本无碍。那通过2-3个月对AngularJsde 使用与不断关注和摸索，基本算
            是精通angularjs的使用了，除了编写复杂的指令，未来的时间里可以尝试。
        </p>
    </div>
</div>

