<div class="row textContainer padding10 pSuojin">
    <div class="col-xs-12 marginTop10" >
        <h3 style="color: blue">1.鼠标点击事件</h3>
        <button ng-click="count1 = count1 + 1" ng-init="count1=0">
            Increment
        </button>
        count: {{count1}}
    </div>
    <div class="col-xs-12 hr hr-double hr-dotted hr18"></div>
    <div class="col-xs-12 marginTop10" >
        <h3 style="color: blue">2.鼠标移动事件</h3>
        <button ng-mousemove="count2 = count2 + 1" ng-init="count2=0">  <!-- 一般ng-click里都是写一个函数调用 -->
            Increment (when mouse moves)
        </button>
        count: {{count2}}
    </div>
    <div class="col-xs-12 hr hr-double hr-dotted hr18"></div>
    <div class="col-xs-12 marginTop10" >
        <h3 style="color: blue">3.鼠标移上去事件</h3>
        <button ng-mouseover="count3 = count3 + 1" ng-init="count3=0">
            Increment (when mouse is over)
        </button>
        count: {{count3}}
    </div>
    <div class="col-xs-12 hr hr-double hr-dotted hr18"></div>
    <div class="col-xs-12 marginTop10" >
        <p style="font-size: 20px"><span>想知道更多，移步这里：</span>
            <a href="http://docs.angularjs.org/api/ng/directive/ngMouseover"
               target="_blank"><span style="color: red;font-size: 17px">
                求 被点</span></a></p>
    </div>
</div>

